DJANGO_SECRET_KEY=django-insecure-&_)#^e2l9+zzak*(52)+q%v3qd+)n0#d60@+9n)c#r0r7hf()z
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

DATABASE_URL=postgres://user:password@localhost:5432/dbname

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
