Django>=5.0
djangorestframework>=3.14.0
psycopg2-binary>=2.9.9
dj-database-url>=2.1.0
cloudinary>=1.38.0
django-cloudinary-storage>=0.3.0
celery>=5.3.6
redis>=5.0.1
gunicorn>=21.2.0
python-dotenv>=1.0.0
django-cors-headers>=4.3.1
djangorestframework-simplejwt>=5.3.1
Pillow>=10.2.0
django-filter>=23.5
model-utils>=4.3.0
pyotp>=2.9.0
qrcode>=8.2
django-otp>=1.7.0
